// Заголовки, загальні БЕМ блоки та інше...

.title {
  font-family: 'Lexend Deca';
  line-height: 1.33; /* 48/36 */
  letter-spacing: toRem(-1.5);
  color: #fff;

  @include adaptiveValue('font-size', 36, 24, 0, 1024, 320);
}

.text {
  line-height: 1.5;
}

// Заклик до дії
.book {
  position: relative;
  padding-block: toRem(5);
  padding-inline: toRem(3);

  color: #fff;
  letter-spacing: toRem(-0.4);
  font-weight: 500;
  line-height: 1.31; /* 21/16 */

  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f95454;
    height: toRem(2);
    width: 100%;
    transition: all 0.3s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        top: 0;
        height: 100%;
      }
    }
  }
}
